In [1]:
from src.data_loader import load_resumes,load_job_descriptions
from src.preprocessing import preprocess_text
from src.feature_engineering import ResumeMatcher
from src.llm_utils import get_resume_feedback
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\itzku\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\itzku\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
resumes_raw = load_resumes('data/resumes')
job_descriptions_raw = load_job_descriptions('data/job_descriptions')
print(f"Loaded {len(resumes_raw)} resumes and {len(job_descriptions_raw)} job descriptions.")

Loaded 5 resumes and 1 job descriptions.

In [3]:
import nltk

# Download to a known folder
nltk.download('punkt', download_dir='./nltk_data')
nltk.download('stopwords', download_dir='./nltk_data')

# Set the NLTK data path
nltk.data.path.append('./nltk_data')

[nltk_data] Downloading package punkt to ./nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to ./nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
import spacy
nlp = spacy.load("en_core_web_sm")  # Run: python -m spacy download en_core_web_sm

def preprocess_text(text):
    doc = nlp(text.lower())
    tokens = [token.text for token in doc if token.is_alpha and not token.is_stop]
    return " ".join(tokens)

In [5]:
resumes_cleaned = [preprocess_text(text) for text in resumes_raw.values()]
jds_cleaned = [preprocess_text(text) for text in job_descriptions_raw.values()]

print(resumes_cleaned[0][:500])

abhilash b r portfolio website data enthusiast seeking opportunities field data analytics drive strategic business decisions impactful insights data driven decision making project experience business insights data analyst challenge sql data exploration power bi dashboard analyzed sales data hardware manufacturing company generated insights related finance sales marketing supply chain analytics bulk loading data establishing relationships snowflake schema format tables erd mysql data ready analys

In [6]:
matcher = ResumeMatcher()
matcher.fit(jds_cleaned)
similarity_scores = matcher.match(resumes_cleaned)

# Show similarity matrix
df = pd.DataFrame(
    similarity_scores,
    index=resumes_raw.keys(),
    columns=job_descriptions_raw.keys()
)
df.style.background_gradient(cmap='Greens')

In [7]:
resume_sample_text = list(resumes_raw.values())[0]
job_sample_text = list(job_descriptions_raw.values())[0]

feedback = get_resume_feedback(resume_sample_text, job_sample_text)
print("ðŸ’¬ LLM Feedback:\n")
print(feedback)

ðŸ’¬ LLM Feedback:

The resume presents a well-structured and comprehensive showcase of the candidate's skills and experiences relevant to the Data Analyst position. Here is a detailed analysis:

Strengths:
1. The candidate has demonstrated hands-on experience with querying large datasets using SQL and building dashboards with Power BI, which aligns well with the job responsibilities.
2. The projects mentioned in the resume showcase the candidate's ability to work with data from various industries, including eCommerce (Maven Analytics), hospitality (Codebasics.io), and a hardware manufacturing company, presenting valuable insights for stakeholders.
3. Strong technical skills, such as using Python, pandas, NumPy, SQL, Matplotlib, Seaborn, MySQL, and Power Query are highlighted in the resume, making the candidate a potential fit for the job description requirements.
4. The candidate's proficiency in working collaboratively with cross-functional teams, communicating insights effectively to both technical and non-technical audiences indicates readiness for team collaboration.
5. Listing relevant certifications from trusted sources (Udemy, Maven Analytics, Codebasics) adds credibility to the candidate's expertise in SQL, Power BI, and data analytics.
6. The education section provides a solid academic foundation in Mechanical Engineering, with further training in Full Stack Data Analytics at iNeuron.ai.

Areas for Improvement:
1. While the resume presents various data analysis projects, some of them are only listed under "Project Experience" without specific details about the project outcomes or business impact, which could strengthen the candidate's application. Showing these details might help demonstrate the value they bring to the table more effectively.
2. Tailoring the resume to the preferred industry (retail or e-commerce) could increase the likelihood of being considered, as the current resume doesn't specifically highlight this experience. Additionally, mentioning any relevant skills in machine learning basics could attract the attention of employers looking for someone with that skillset.
3. Enhancing the format and design of the resume can make it more visually appealing to potential employers while still maintaining readability and balance.
4. Including a professional summary at the beginning of the resume, concisely summarizing skills, experiences, and qualifications relevant to the target position, could add value by immediately capturing the attention of recruiters.